

body {
    /*background-image: url("https://img.freepik.com/free-vector/technology-wire-mesh-network-connection-digital-background_1017-28407.jpg?w=1380&t=st=1680690047~exp=1680690647~hmac=8a0232f40708c0abc5e9b3b6c324fabb32181e143b5144347dd2a0a3cbe7c61b");*/
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 780px; width: 700px; margin:auto;

}
h1 {
    font-family: "Montserrat", sans-serif;
}

.button {
    display: inline-block;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: #0062cc;
}



