<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />


    <script type="text/javascript" th:src = "@{/js/AllFunctions.js}"></script>
    <link rel="stylesheet" href ="" th:href="@{/css/centralize.css}" />

    <title>Index Page</title>

</head>
<body>

<h1 style="text-align: center">Form for Multiple Operations</h1>
<p>Get all the Data</p>
    <button> <a href="http://localhost:8080/getall">GET ALL</a> </button>
    <p>_______________________________________________________________________________________________________________</p>
<form th:action="getEmpByName"  method="post">
    <p>Enter name to find</p>
    <label>Enter Name:</label>
    <label for="name1"></label><input id="name1" name="name" type="text"><br><br>
    <button  th:onclick="getEmpByNameFunction()"> <a href="#" id="name2">Get By Name</a> </button>
</form>
<p>_______________________________________________________________________________________________________________</p>
<form th:action="getEmpById"  method="post">
    <p>Enter Id to find</p>
    <label>Enter Id:</label>
    <label for="name3"></label><input id="name3" name="name" type="text"><br><br>
    <button  onclick="getEmpByIdFunction()"> <a href="#" id="name4">Get By Id</a> </button>
</form>
<p>_______________________________________________________________________________________________________________</p>
<form th:action="deleteEmpById"  method="post">
    <p>Enter Id to Delete</p>
    <label>Enter Id:</label>
    <label for="id1"></label><input id="id1" name="name" type="text"><br><br>
    <button  onclick="deleteEmpByIdFunction()"> <a href="#" id="id2">Delete By Id</a> </button>
</form>
<p>_______________________________________________________________________________________________________________</p>
    <form th:action="addEmp"  method="post">
        <label>Enter ID:</label>
        <label for="id"></label><input id="id" name="id" type="text"><br><br>
        <label>Enter Name:</label>
        <label for="name"></label><input id="name" name="name" type="text"><br><br>
        <label>Enter Address:</label>
        <label for="address"></label><input id="address" name="address" type="text"><br><br>
        <button onclick="addEmpFunction()" > <a href="#" id="id3">Post User</a></button>
</form>
</body>
</html>